snippet sign "Signature"
Yours sincerely,

Maximilian Moeller
endsnippet

snippet gruß "Deutsche Grußformel"
Mit freundlichen Grüßen

Maximilian Moeller
endsnippet

snippet today "Date"
`date +%F`
endsnippet

snippet heute "Date"
`date +%d.%m.%Y`
endsnippet

snippet box "Box"
`!p snip.rv = '┌' + '─' * (len(t[1]) + 2) + '┐'`
│ $1 │
`!p snip.rv = '└' + '─' * (len(t[1]) + 2) + '┘'`
$0
endsnippet
